<%= form_for(@question ,  html: { class: :custom  , data: {abide: ''} } )  do |f| %>
<%if @question.errors.any? %>
<div id="error-explanantion">
<h3><%= pluralize(@question.errors.count, "error") %> prohibited  this question from being saved :</h3>
<ul>
<% @question.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>
<div class="row collapse">
  <div class="small-3 columns">
<%= f.label :question , class: "right inline" %></div>
<div class="small-9 columns">
<%= f.text_area :question_text , :required => true  %>
<%= content_tag(:small, "This field is required", class: "error") %></div>
</div>

<div class="row collapse">
  <div class="small-3 columns">
  <%= f.label :option1 , class: "right inline"  %></div>
  <div class="small-9 columns">
<%= f.text_field :option1 , :required => true  %>
<%= content_tag(:small, "This field is required", class: "error") %></div>
</div>

<div class="row collapse">
  <div class="small-3 columns">
<%= f.label :option2 , class: "right inline"  %></div>
<div class="small-9 columns">
<%= f.text_field :option2 , :required => true %>
<%= content_tag(:small, "This field is required", class: "error") %></div>
</div>

<div class="row collapse">
  <div class="small-3 columns">
<%= f.label :option3 , class: "right inline" %></div>
<div class="small-9 columns">
<%= f.text_field :option3 , :required => true %>
<%= content_tag(:small, "This field is required", class: "error") %></div>
</div>

<div class="row collapse">
  <div class="small-3 columns">
<%= f.label :option4  , class: "right inline" %></div>
<div class="small-9 columns">
<%= f.text_field :option4 , :required => true %>
<%= content_tag(:small, "This field is required", class: "error") %></div>
</div>

<div class="row collapse">
  <div class="small-3 columns">
<%= f.label :answer , class: "right inline"  %></div>
<div class="small-9 columns">
<%= f.select :answer,["option1","option2","option3","option4"] %></div>
</div>

<div class="row collapse">
  <div class="small-3 columns">
<%= f.label :category , class: "right inline"  %></div>
<div class="small-9 columns">
<%= f.select :category ,["English","Science","Maths","General"]%></div>
</div>

<div class="row collapse">
  <div class="small-9 small-offset-3 columns"><%= f.submit   :class => "small button radius" %></div>
</div>
<% end %>