<div class="row collapse">
<div class="small-9  columns "><h3 >Listing Questions</h3></div>
<div class="small-3  columns ">
<%= link_to "New Question", new_question_path , class: "small button radius  " %> 
</div>
</div>


<table class="scroll-table pagination-table" >
<tr>
<th>Category</th>
<th>Question</th>
<th>Option1</th>
<th>Option2</th>
<th>Option3</th>
<th>Option4</th>
<th>Answer</th>
</tr>
<% @questions.each do |question| %>
<tr>
<td><%= question.category %></td>
<td><%= question.question_text %></td>
<td><%= question.option1 %></td>
<td><%= question.option2 %></td>
<td><%= question.option3 %></td>
<td><%= question.option4 %></td>
<td><%= question.answer %></td>
<td><%= link_to 'Show', question %></td>
<td><%= link_to 'Edit', edit_question_path(question) %></td>
<td><%= link_to 'Delete' ,question , method: :delete, data: { confirm: 'Are you sure?' }%></td>
</tr>
<% end %>
</table>
<% if  @questions_count > 5 %>
<div class="apple_pagination">
<%= will_paginate @questions  %>
</div>
<% end %>