<%= link_to "New Question", new_question_path , class: "button radius"%> 
<h1>Listing Questions</h1>
<table>
<tr>
<th>Category</th>
<th>Question</th>
<th>Option1</th>
<th>Option2</th>
<th>Option3</th>
<th>Option4</th>
<th>Answer</th>
</tr>
<% @questions.each do |question| %>
<tr>
<td><%= question.category %></td>
<td><%= question.question_text %></td>
<td><%= question.option1 %></td>
<td><%= question.option2 %></td>
<td><%= question.option3 %></td>
<td><%= question.option4 %></td>
<td><%= question.answer %></td>
<td><%= link_to 'Show', question , class: "button radius" %></td>
<td><%= link_to 'Edit', edit_question_path(question) , class: "button radius"%></td>
<td><%= link_to 'Delete' ,question , method: :delete, data: { confirm: 'Are you sure?' }, class: "button radius"%></td>
</tr>
<% end %>
</table>
<div class="apple_pagination">
<%= will_paginate @quizzes %>
</div>
