<h1>Listing Quizzes </h1>
<table>
<tr>
<th>Quiz Name</th>
<th>Category</th>
<th>Starttime</th>
<th>Endtime</th>
<th>Date</th>
<th>Assign Questions</th>
<th>Questions Assigned</th>
<th>Status 
</tr>
<% @quizzes.each do |f| %>

	<tr>
		<td><%= f.quizname %></td>
		<td><%= f.category %></td>
		<td><%= f.starttime.strftime('%H:%M') %></td>
		<td><%= f.endtime.strftime('%H:%M') %></td>
		<td><%= f.date.strftime("%d/%m/%Y") %></td>
		<td><%= link_to 'Assign Questions' , admin_assignquestions_path(quiz_id:f.id) %></td>
		<td><%= f.count %></td>
		<td><%= f.status %></td>
		<td><%= link_to 'Show', f %></td>
		<td><%= link_to 'Edit' ,edit_quiz_path(f) %></td>
		<td><%= link_to 'Delete', f , method: :Delete ,date: {confrim:"Are you sure?" }  %></td>
	</tr>
	<% end %>
</table>