<div class="text-center"><h3>Quiz Details</h3></div>
<div class ="row">
	<div class="small-6 small-centered columns">
		<div class="panel">
<div class="row collapse">
  <div class="small-6 columns">
<b class: "right inline" >Quiz Name</b></div>
<div class="small-6 columns">
<%= @quiz.quizname %>
</div>
</div><br>
<div class="row collapse">
  <div class="small-6 columns">
<b class: "right inline" >Category</b></div>
<div class="small-6 columns">
<%= @quiz.category %>
</div>
</div><br>


<div class="row collapse">
  <div class="small-6 columns">
<b class: "right inline">Starttime</b></div>
<div class="small-6 columns">
<%= @quiz.starttime.strftime('%H:%M') %>
</div>
</div><br>


<div class="row collapse">
  <div class="small-6 columns">
<b class: "right inline">Endtime</b></div>
<div class="small-6 columns">
<%= @quiz.endtime.strftime('%H:%M') %>
</div>
</div><br>


<div class="row collapse">
  <div class="small-6 columns">
<b class: "right inline">Date</b></div>
<div class="small-6 columns">
<%= @quiz.date %>
</div>
</div><br>


<div class="row collapse">
  <div class="small-6 columns">
<b class: "right inline">Questions Added</b></div>
<div class="small-6 columns">
<%= @quiz.count %>
</div>
</div><br>


<div class="row collapse">
  <div class="small-6 columns">
<b class: "right inline">Status</b></div>
<div class="small-6 columns">
<%= @quiz.status %>
</div>
</div><br>


<%= link_to 'Edit',edit_quiz_path(@quiz) , class: "small button radius"%>
<%= link_to 'Back',quizzes_path , class: "small button radius"%>
</div>
</div>
</div>

