<br>
<br>

<div id="dur" data-duration=<%= @duration %>></div>
Time left:<br><br><div id="timer"></div>
<br>
<br>
<div class="panel">
<%= form_tag endquiz_student_index_path ,:method => 'post' ,:class => 'custom' do %>
<%= render(:partial => "quizquestion", :collection => @questions) %>
<div class="apple_pagination">
<%= will_paginate @questions   %>
</div>
<%= submit_tag "Submit Answers" %> 
<% end %>
</div>