 <div class="row">
  <div class="small-offset-1 small-5 columns end ">
    <div class="title-spacer"></div>
    <div class="text-center small-heading">Resend confirmation instructions</div>
<div class="panel">
  <div class="text-center cleaner"> 
  <span style="font-size: 75px ; color: #666666" class="fi-torso "></span>
</div>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post   }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.email_field :email, autofocus: true, :required => true,:placeholder => "Email" %>
  <%= f.submit "Resend confirmation instructions"   , class: ' expand small button radius'  %>
  
 
<% end %>
<div class="text-center"> 
<%= render "devise/shared/links" %></div>
</div></div></div>