<%= form_tag admin_markquestions_path ,:method => :put  do %>
<table>
<tr>
<th>Add Question</th>
<th>Category</th>
<th>Question</th>
<th>Option1</th>
<th>Option2</th>
<th>Option3</th>
<th>Option4</th>
<th>Answer</th>
</tr>
<% @generalquestions.each do |question| %>
<tr>
<td><%= check_box_tag "generalquestion_ids[]", question.id %> 
<td><%= question.category %></td>
<td><%= question.question_text %></td>
<td><%= question.option1 %></td>
<td><%= question.option2 %></td>
<td><%= question.option3 %></td>
<td><%= question.option4 %></td>
<td><%= question.answer %></td>
<td><%= link_to 'Show', question, class: "small button radius" %></td>
<td><%= link_to 'Edit', edit_question_path(question) , class: "small button radius"%></td>
<td><%= link_to 'Delete' ,question , method: :delete, data: { confirm: 'Are you sure?' }, class: "small button radius"%></td>
</tr>
<% end %>
</table>
<% if @generalquestions_count > 10 %>
<div class="apple_pagination">
<%= will_paginate @generalquestions  %>
</div>
<% end %>
<%= submit_tag "Update Quiz Questions" , class: "small button radius" %> 
<% end %>
