<div class="row">
<div class="small-offset-1 small-5 columns end ">
    <div class="title-spacer"></div>
<div class="text-center small-heading">Change your password</div>
<div class="panel">
  <div class="text-center cleaner"> <span style="font-size: 75px ; color: #666666" class="fi-torso "></span>
</div>


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put ,class: :custom  }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>


   <%= f.password_field :password, autofocus: true, autocomplete: "off" , :required => true ,:placeholder => "Password"%>
   
   
  
   <%= f.password_field :password_confirmation, autocomplete: "off" , :required => true ,:placeholder => "Confirm Password" %>
  
<%= f.submit  "Change my password"   , class: 'expand small button radius'  %>

  
<% end %>
<div class="text-center"> 
<%= render "devise/shared/links" %></div>
</div></div></div>