
<h4 ><%= @page.title %>  <small>last edited by <%= @page.author %></small> </h4> <br>
 

  <%= markdown(wiki_link(@page.content)) %>

<p>
  <%= link_to "Edit", edit_wiki_page_path(@page) %>
  | Version <%= @page.version %>
  <% if @page.version > 1 %>
    | <%= link_to "Previous version", :version => @page.version-1 %>
  <% end %>
  <% if params[:version] %>
    | <%= link_to "Latest version", :version => nil %>
  <% end %>
</p>