 
<div class="row collapse">
<div class="small-9  columns "><h3 >Listing Quizzes </h3></div>
<div class="small-3  columns ">
<%= link_to "New Quiz", new_quiz_path , class: "small button radius  " %> 
</div>
</div>
<table class="scroll-table pagination-table" > 
<tr>
<th>Quiz Name</th>
<th>Category</th>
<th>Starttime</th>
<th>Endtime</th>
<th>Date</th>
<% if current_user.role=="Admin" %>
<th>Manage Questions</th>
<% end %>
<th>Manage Students</th>
<th>Questions Assigned</th>
<th>Status</th>
</tr>
<% @quizzes.each do |f| %>

	<tr>
		<td><%= f.quizname %></td>
		<td><%= f.category %></td>
		<td><%= f.starttime.strftime('%H:%M') %></td>
		<td><%= f.endtime.strftime('%H:%M') %></td>
		<td><%= f.date %></td>
		<% if current_user.role=="Admin" %>
		<td><%= link_to 'Manage Questions' , assignquestions_admin_index_path(quiz_id:f.id)  , class: "small button radius" %></td>
		<% end %>
		<td><%= link_to 'Manage Students' , assignstudents_teacher_index_path(quiz_id:f.id) , class: "small button radius" %></td>
		<td><%= f.count %></td>
		<td><%= f.status %></td>
		<td><%= link_to 'Show', f  , class: "small button radius"%></td>
		<% if current_user.role=="Admin" %>
		<td><%= link_to 'Edit' ,edit_quiz_path(f) , class: "small button radius"%></td>
		<td><%= link_to 'Delete', f , :params=>params[:page] ,method: :Delete ,data: {confirm:"Are you sure?" } , class: "small button radius" %></td>
		<% end %>
	</tr>
	<% end %>
</table>


<%= link_to "New Question", new_question_path , class: "small button radius"%> 
<h1>Listing Questions</h1>
<table class="scroll-table pagination-table" >
<tr>
<th>Category</th>
<th>Question</th>
<th>Option1</th>
<th>Option2</th>
<th>Option3</th>
<th>Option4</th>
<th>Answer</th>
</tr>
<% @questions.each do |question| %>
<tr>
<td><%= question.category %></td>
<td><%= question.question_text %></td>
<td><%= question.option1 %></td>
<td><%= question.option2 %></td>
<td><%= question.option3 %></td>
<td><%= question.option4 %></td>
<td><%= question.answer %></td>
<td><%= link_to 'Show', question , class: "small button radius" %></td>
<td><%= link_to 'Edit', edit_question_path(question) , class: "small button radius"%></td>
<td><%= link_to 'Delete' ,question , method: :delete, data: { confirm: 'Are you sure?' }, class: "small button radius"%></td>
</tr>
<% end %>
</table>
