<h3>Book details</h3>
<%= @book.bookname %>
<%= @book.author %>
<%= @book.category %>
<%= @book.price %>
<%= @book.type %>
<%= @book.duedate %>
<%= @book.lenddate %>
<%= @book.renewcount %>
<%= @book.status %>

