   

<div class="row">
  <div class="small-offset-1 small-5 columns end ">
    <div class="title-spacer"></div>
<div class="text-center small-heading">Sign in to continue to App</div>
<div class="panel">
  <div class="text-center cleaner"> 
  <span style="font-size: 75px ; color: #666666" class="fi-torso "></span>
</div>
  
<%= form_for(resource, as: resource_name, url: session_path(resource_name)  ) do |f| %>

  
  <%= f.email_field :email, autofocus: true ,:required => true ,:placeholder => "Email" %>
  <%= f.password_field :password, autocomplete: "off", :required => true ,:placeholder=> "Password" %>
  

  
  <%= f.submit "Sign in"   , class: ' small expand button radius'  %>
    <% if devise_mapping.rememberable? -%>
  <div class="row collapse">
  <div class="small-1 columns"><%= f.check_box :remember_me  , class: "right inline"%></div>
  <div class="small-6 columns left "> <%= f.label :remember_me %></div>
  </div>
  <% end -%>
  
<% end %>
<div class="text-center"> 
<%= render "devise/shared/links" %></div>
</div></div></div>
</div>
