<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>


  	<title><%= content_for?(:title) ? yield(:title) : "OTTS" %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <% if user_signed_in?  %>
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
    <% path_temp=quizzes_path
    if current_user.role=="Student"
    	path_temp=student_index_path 
    	end %>
      <h1><%= link_to "Online Test Taking System", path_temp  %></a></h1>
    </li>
  </ul>
   <section class="top-bar-section">
    <ul class="right">
    <% if current_user.role != "Student" %>
      <li class="divider"></li>
      <li><%= link_to "Quizzes",quizzes_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Questions",questions_path %></li>
      <% end %>
      <li class="divider"></li>
      <li><%= link_to  image_tag current_user.avatar.url(:small) , "data-reveal-id"=>"myModal" %></li>
      <li class="divider"></li>
      <li><%= link_to "Edit Profile",edit_user_registration_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete  %>
      <li class="divider"></li>
      <li><%= link_to "Contact Me" %></li>
      </ul>
  </section>

</nav>
<% else %>
<nav class="top-bar">
    <ul class="title-area">
      <li class="name">
      <h1><%= link_to "Online Test Taking System" %></a></h1>
    </li>
  </ul>
   <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to "Sign in", new_session_path(resource_name) %>
      <li class="divider"></li>
      <li><%=  link_to "Sign up", new_registration_path(resource_name) %>
      <li class="divider"></li>
      <li><%= link_to "Contact Me" %></li>
      </ul>
  </section>

</nav>
<% end %>
<% if notice %>
    <div data-alert class="alert-box" ><%= notice %></div>
<% end %>
<% if alert %>
    <div data-alert class="alert-box"><%= alert %></div>
<% end %>
<div class= "row ">
<div class= "small-3 columns">
 <% if user_signed_in?  %>
<%= render 'common/chat' %>
<%= render 'common/conversation' %>
<%= render 'common/changeAvatar' %>
<% end %>
</div> 
<div class="small-9 columns">
    <%= yield %>
    </div>
    </div>


    
   
  <div  class="top-bar" id="footer" ><p>Copyright@Ethiraj</p></div> 
  
  </body>

</html>
