<!DOCTYPE html>
<html>
<head>
  <title>Online Test Taking System</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="nav-right">
 	<% if user_signed_in?  %>
  Logged in as <strong><%= current_user.name %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path  %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
<% end %>
<br>

</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
</body>
</html>
